<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div id="searchResults" th:fragment="searchResults  (exports)">

    <div class="well white">
        <table id="projectExportDT" class="datatable table table-hover table-striped table-bordered tc-table"
               th:if="${exports!=null}">

            <thead>
            <tr>
                <th data-class="expand">customer</th>
                <th data-hide="phone,tablet">Sale Order</th>
                <th data-hide="phone">Book Date</th>
                <th data-hide="phone">Type</th>
                <th data-hide="phone,tablet">Status</th>
                <th data-hide="phone,tablet">Health</th>
                <th data-hide="phone">credits</th>
                <th data-hide="phone">service</th>
                <th data-hide="phone">bookedToKickOff</th>
                <th data-hide="phone">daysToClose</th>
                <th data-hide="phone">waitTime</th>
                <th data-hide="phone">location</th>
                <th data-hide="phone">modelGroup</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>customer</th>
                <th>Sale Order</th>
                <th>Book Date</th>
                <th>Type</th>
                <th>Status</th>
                <th>Health</th>
                <th>credits</th>
                <th>service</th>
                <th>bookedToKickOff</th>
                <th>daysToClose</th>
                <th>waitTime</th>
                <th>location</th>
                <th>modelGroup</th>
            </tr>
            </tfoot>
            <tbody>

            <tr th:each="export : ${exports}" th:if="${exports != null}">
                <td class="col-small left" th:text="${export.customerName}"></td>
                <td class="col-small left" th:text="${export.salesOrderNumber}"></td>
                <div th:replace="fragments/common/tdDate :: tdDate(theDate=${export.bookedDate})"/>
                <td class="col-small left" th:text="${export.modelGroup}"></td>
                <td class="col-small center"><span class="label"
                                                   th:classappend="'label-' + ${export.statusDisplayClass}"
                                                   th:text="${export.status}"></span></td>
                <td class="col-small center"><span class="label"
                                                   th:classappend="'label-' + ${export.healthStatusDisplayClass}"
                                                   th:text="${export.health}"></span></td>
                <td class="col-small left" th:text="${export.credits}"></td>
                <td class="col-small left" th:text="${export.service}"></td>
                <td class="col-small left" th:text="${export.bookedToKickOff}"></td>
                <td class="col-small left" th:text="${export.daysToClose}"></td>
                <td class="col-small left" th:text="${export.waitTime}"></td>
                <td class="col-small left" th:text="${export.location}"></td>
                <td class="col-small left" th:text="${export.modelGroup}"></td>
            </tr>
            </tbody>

        </table>
    </div>
    <div class="row" th:if="${exports==null}">

        <div class="col-sm-6">
            <h5 class="text-uppercase heading"><strong>No exports Found </strong></h5>

            <div class="well bg-primary center">
                <p>Please modify your search parameters</p>
            </div>
        </div>

    </div>


</div>
</body>
</html>
