<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div id="searchResults" th:fragment="searchResults  (exports)">
    <div class="well white">


        <div class="row bg-light ">

            <div class="col-md-4 ">
                <div class="form-group">
                    <label class="control-label">Customer Name</label>

                    <div class="input-group">
                        <p id="customerFilter"></p>
                    </div>

                </div>
            </div>
            <div class="col-md-4 ">
                <div class="form-group">
                    <label class="control-label">Sales Order Number</label>

                    <div class="input-group">
                        <p id="salesOrderFilter"></p>
                    </div>

                </div>
            </div>

            <div class="col-md-4 ">
                <div class="form-group">
                    <label class="control-label">Project Book Date</label>

                    <div class="input-group">
                        <p id="bookDateFilter"></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="row bg-light ">
            <div class="col-md-4 ">
                <div class="form-group">
                    <label class="control-label">SO Model Group</label>

                    <div class="input-group">
                        <p id="typeFilter"></p>
                    </div>

                </div>
            </div>
            <div class="col-md-4 ">
                <div class="form-group">
                    <label class="control-label">Project Status</label>

                    <div class="input-group">
                        <p id="statusFilter"></p>
                    </div>

                </div>
            </div>
            <div class="col-md-4 ">
                <div class="form-group">
                    <label class="control-label">Project Health</label>

                    <div class="input-group">
                        <p id="healthFilter"></p>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="well white">
        <table id="projectExportDT" class="datatable table table-hover table-striped table-bordered tc-table"
               th:if="${exports!=null}">

            <thead>
            <tr>
                <th>Action</th>
                <th data-class="expand">customer</th>
                <th data-hide="phone,tablet">Sale Order</th>
                <th data-hide="phone">Book Date</th>
                <th data-hide="phone">Type</th>
                <th data-hide="phone,tablet">Status</th>
                <th data-hide="phone,tablet">Health</th>
            </tr>

            </thead>
            <tfoot>
            <th>Action</th>
            <th>customer</th>
            <th>Sale Order</th>
            <th>Book Date</th>
            <th>Type</th>
            <th>Status</th>
            <th>Health</th>
            </tfoot>
            <tbody>

            <tr th:each="export : ${exports}" th:if="${exports != null}">
                <td class="col-small left">
                    <div class="btn-group btn-group-md ">
                        <a href="" th:href="'project?projectId='+${export.projectId}" class=""
                           data-placement="right" data-rel="tooltip" title="Edit project">
                            edit
                        </a>
                        |
                        <a href="" th:href="'project?projectId='+${export.projectId}" class=""
                           data-placement="right" data-rel="tooltip" title="View project">
                            view
                        </a>
                    </div>

                </td>
                <td class="col-small left" th:text="${export.customerName}"></td>
                <td class="col-small left"><a href=""
                                              th:href="'salesorder?salesorderId='+${export.salesOrderId}"
                                              data-placement="left" data-rel="tooltip" title="View Sales Order"
                                              th:text="${export.salesOrderNumber}"></a></td>
                <div th:replace="fragments/common/tdDate :: tdDate(theDate=${export.bookedDate})"/>
                <td class="col-small left" th:text="${export.modelGroup}"></td>
                <td class="col-small center"><span class="label"
                                                   th:classappend="'label-' + ${export.statusDisplayClass}"
                                                   th:text="${export.status}"></span></td>
                <td class="col-small center"><span class="label"
                                                   th:classappend="'label-' + ${export.healthStatusDisplayClass}"
                                                   th:text="${export.health}"></span></td>
            </tr>
            </tbody>

        </table>
    </div>
    <div class="row" th:if="${exports==null}">

        <div class="col-sm-6">
            <h5 class="text-uppercase heading"><strong>No exports Found </strong></h5>

            <div class="well bg-primary center">
                <p>Please modify your search parameters</p>
            </div>
        </div>

    </div>


</div>
</body>
</html>
