<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="searchFilter" th:fragment="searchFilter">

    <div class="row bg-light ">

        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Filter Projects by Status</label>

                <form role="form" action="#" th:action="@{/projectSearch}" th:object="${projectsearch}"
                      method="post">
                    <div class="input-group">
                        <select class="form-control selectpicker" th:field="*{status}">
                            <option th:each="type : *{statusValues}"
                                    th:value="${type}"
                                    th:text="${type}"></option>
                        </select>

                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search icon-only"></i>
                                    </button>
                                </span>
                    </div>

                </form>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Filter Projects by Sales Order Model Group</label>

                <form role="form" action="#" th:action="@{/projectSearch}" th:object="${projectsearch}"
                      method="post">
                    <div class="input-group">
                        <select class="form-control selectpicker" th:field="*{modelGroup}">
                            <option th:each="type : *{modelGroupValues}"
                                    th:value="${type}"
                                    th:text="${type}"></option>
                        </select>

                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search icon-only"></i>
                                    </button>

                                </span>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>