<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="changePassword" th:fragment="changePassword (passwordChange)">


    <form id="changePasswordForm" class="form" role="form" action="#" th:action="@{/passwordUpdate}" th:object="${passwordChange}" method="post">
        <input type="hidden" th:field="*{userId}"/>


        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="password" class="form-control"
                           th:field="${passwordChange.newPassword}"
                           placeholder="enter the new password"/>

                    <div class="has-error" th:if="${#fields.hasErrors('newPassword')}"
                         th:errors="*{newPassword}">error
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input type="password" class="form-control"
                           th:field="*{newPasswordConfirm}"
                           placeholder="re-enter the new password"/>

                    <div class="has-error" th:if="${#fields.hasErrors('newPasswordConfirm')}"
                         th:errors="*{newPasswordConfirm}">error
                    </div>


                </div>
            </div>
            <div th:replace="fragments/common/submitButton :: submitButton (readonly=${passwordChange.readonly} )"/>
        </div>

    </form>
    <div class="row" th:if="${passwordChange==null}">

        <div class="col-sm-6">
            <div class="well bg-primary center">
                <p>User password change not available</p>
            </div>
        </div>

    </div>

<!-- END YOUR CONTENT HERE -->
</div>
</body>
</html>>