<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="utf-8"/>
    <title layout:title-pattern="$CONTENT_TITLE">layout</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/fonts.css"/>
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css"/>

    <!-- PAGE LEVEL PLUGINS STYLES -->
    <link href="assets/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet"/>

    <link rel="stylesheet" href="assets/css/plugins/footable/footable.min.css"/>
    <link rel="stylesheet" href="assets/css/plugins/datetime/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="assets/css/plugins/bootstrap-datepicker/datepicker.css"/>
    <link href="assets/css/plugins/select2/select2.css" rel="stylesheet"/>
    <link href="assets/css/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/plugins/datetime/bootstrap-datetimepicker.min.css"/>

    <link rel="stylesheet" href="assets/css/plugins/jqueryui/jquery-ui.min.css" />

    <link rel="stylesheet" type="text/css" href="assets/DataTables-1.10.7/media/css/jquery.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="assets/DataTables-1.10.7/extensions/Responsive/css/dataTables.responsive.css"/>

<!--
    <link rel="stylesheet" type="text/css" href="assets/dtcf/demo_page.css"/>
    <link rel="stylesheet" type="text/css" href="assets/dtcf/demo_table.css"/>
    <link rel="stylesheet" type="text/css" href="assets/dtcf/demo_table_jui.css"/>
    <link rel="stylesheet" type="text/css" href="assets/dtcf/demo_validation.css"/>
    <link rel="stylesheet" type="text/css" href="assets/dtcf/site_jui.ccss.css"/>
-->

    <!-- Tc core CSS -->
    <link id="qstyle" rel="stylesheet" href="assets/css/themes/style-3.css"/>
    <script src="assets/js/jquery.min.js"></script>

    <!-- Add custom CSS here -->
    <link rel="stylesheet" href="assets/css/only-for-demos.css"/>
    <!-- End custom CSS here -->

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!--[if lte IE 8]>
    <script src="assets/js/plugins/easypiechart/easypiechart.ie-fix.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="assets/css/eportal.css"/>

</head>
<body>
<!-- <body th:onload="'doAnchor(\''+ ${anchor}+'\')'">
-->
<div id="wrapper">
    <div id="main-container">


        <!-- BEGIN TOP NAVIGATION -->
        <div th:replace="fragments/header :: header"/>
        <!-- END TOP NAVIGATION -->

        <!-- BEGIN SIDE NAVIGATION -->
        <div th:replace="fragments/leftnav :: leftnav"/>
        <!-- END SIDE NAVIGATION -->
        <!-- BEGIN MAIN PAGE CONTENT -->
        <div id="page-wrapper">

            <!-- BEGIN PAGE HEADING ROW -->

            <div class="row">
                <div class="col-lg-12">

                    <div class="breadcrumbs">
                        <ul class="breadcrumb">
                            <li>
                                <a href="projectSearch"></a>
                            </li>
                            <!--<li th:if(><a href="#">Forms</a></li>
                            <li class="active">Form Elementss</li>
-->
                        </ul>

                    </div>


                    <div class="page-header title">
                        <h1 th:text="${pageName}"></h1>
                    </div>

                </div>
            </div>

            <!-- /.row -->
            <!-- END PAGE HEADING ROW -->
            <div class="row">

                <div th:replace="fragments/common/messages :: messages(message=${message})"/>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <!-- START YOUR CONTENT HERE -->

                    <div layout:fragment="content">

                        <!-- content -->
                    </div>

                    <!-- END YOUR CONTENT HERE -->

                </div>
            </div>
            <!-- BEGIN FOOTER CONTENT -->
            <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
            <!-- END FOOTER CONTENT -->

        </div>
        <!-- /#page-wrapper -->
        <!-- END MAIN PAGE CONTENT -->
    </div>
    <!-- main container -->
</div>
<!-- wrapper -->

<!-- core JavaScript -->
<!--<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/js/plugins/pace/pace.min.js"></script>

<!-- PAGE LEVEL PLUGINS JS -->
<!--<script src="assets/js/plugins/morris/raphael-min.js"></script>
<script src="assets/js/plugins/morris/morris.min.js"></script>
-->

<script src="assets/js/plugins/footable/footable.min.js"></script>


<script src="assets/js/plugins/select2/select2.min.js"></script>
<script src="assets/js/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="assets/js/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="assets/js/plugins/masked-input/jquery.maskedinput.min.js"></script>

<script src="assets/js/plugins/bootstrap-markdown/markdown.js"></script>
<script src="assets/js/plugins/bootstrap-markdown/bootstrap-markdown.js"></script>
<script src="assets/js/plugins/bootbox/bootbox.min.js"></script>

<script src="assets/js/plugins/datetime/bootstrap-datetimepicker.min.js"></script>
<script src="assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="assets/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>

<script src="assets/js/plugins/jqueryui/jquery-ui.min.js"></script>
<script src="assets/js/plugins/jqueryui/jquery.ui.touch-punch.min.js"></script>
<script src="assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
<!--<script src="assets/js/plugins/datatables/datatables.js"></script>-->
<script src="assets/js/plugins/datatables/datatables.responsive.js"></script>
<script src="assets/dtcf/jquery.dataTables.columnFilter.js"></script>

<!-- DataTables CSS -->


<!-- jQuery -->
<!--<script type="text/javascript" charset="utf8" src="assets/DataTables-1.10.7/media/js/jquery.js"></script>-->

<!-- DataTables -->
<!--<script type="text/javascript" charset="utf8" src="assets/DataTables-1.10.7/extensions/Responsive/js/dataTables.responsive.js"></script>
<script type="text/javascript" charset="utf8" src="assets/DataTables-1.10.7/media/js/jquery.dataTables.min.js"></script>
-->
<!--<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>-->


<!-- Themes Core Scripts -->
<script src="assets/js/main.js"></script>

<!-- initial page level scripts for examples -->
<!--<script src="assets/js/plugins/slimscroll/jquery.slimscroll.init.js"></script>
<script src="assets/js/plugins/footable/footable.init.js"></script>
-->
<script src="assets/js/ys/project.datatables.init.js"></script>
<script src="assets/js/ys/resource.datatables.init.js"></script>
</body>
</html>