<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div id="noteTable" th:fragment="noteTable (actionVar,id, notes, tabIndex,returnURL)">
    <div id="noteForm" class="portlet-body">

        <form role="form" action="#" th:action="${actionVar}" method="post">
            <div class="input-group">
                    <span class="input-group-btn">
                        <button type="submit" class="btn  btn-default">add
                        </button>
                    </span>
                <input type="hidden" name="id" th:value="${id}"/>
                <input type="text" class="form-control" name="newnote" placeholder="add project notes"/>
                <input type="hidden" name="tabIndex" th:value="${tabIndex}"/>
            </div>
        </form>
        <div class="space-4"></div>
        <table class="table table-bordered table-striped table-hover tc-table footable" data-page-size="5"
               th:if="${notes!=null}">
            <thead>
            <tr>
                <th class="col-small left" th:if="${readonly!='true'}">actions</th>
                <th class="col-small left" data-toggle="true">note</th>
                <th class="col-small left" data-toggle="true">Created Date</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="note : ${notes}">
                <td class="col-small left">
                    <div class="btn-group btn-group-sm ">
                        <a href="" th:href="@{projectNotesDelete(projectNotesId=${note.noteId},tabIndex=${tabIndex},returnURL=${returnURL})}"
                           class="" data-placement="left" data-rel="tooltip" title="Delete Note">
                            delete
                        </a>
                    </div>


                </td>
                <td class="col-small left" th:text="${note.note}"></td>
                <div th:replace="fragments/common/tdDate :: tdDate(theDate=${note.createDate})"/>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="7">
                    <ul class="hide-if-no-paging pagination pagination-centered pull-right"></ul>
                    <div class="clearfix"></div>
                </td>
            </tr>
            </tfoot>
        </table>

        <div class="row" th:if="${notes==null}">

            <div class="col-sm-6">

                <div class="well bg-primary center">
                    <p>There are currently no notes associated with the project.</p>
                </div>
            </div>

        </div>

    </div>

</div>
</body>
</html>