<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="activityInfo" th:fragment="activityInfo (activity,readonly)">

    <div class="portlet">
        <div class="portlet-heading default-bg">
            <div class="portlet-title">
                <h4>Activity Information</h4>
            </div>
            <div class="portlet-widgets">
                <a data-toggle="collapse" data-parent="#accordion" href="#activityinfopanel"><i
                        class="fa fa-chevron-down"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="activityinfopanel" class="panel-collapse collapse in">
            <div class="portlet-body">
                <form class="form" role="form" action="#" th:action="@{/activity}" th:object="${activity}"
                      method="post" th:if="${activity!=null}">

                    <div th:replace="fragments/common/formButtons :: formButtons (readonly=${readonly} )"/>
                    <div class="row">
                        <input type="hidden" th:field="*{activityId}"/>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input type="text" class="form-control" th:field="*{name}"
                                       placeholder="enter the activity name" readonly="readonly"/>

                                <div class="has-error" th:if="${#fields.hasErrors('name')}"
                                     th:errors="*{name}">error
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="form-group">

                                <div class="form-group">
                                    <label class="control-label">activity date</label>

                                    <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </span>
                                        <input class="form_date form-control" value="" th:field="*{activityDate}"/>

                                    </div>
                                </div>


                                <!--
                                                                <label>DateTime Picking</label>
                                                                <div class="input-group date form_datetime">
                                                                                                <span class="input-group-addon">
                                                                                                    <i class="glyphicon glyphicon-time"></i>
                                                                                                </span>
                                                                    <input class="form-control" />
                                                                </div>
                                                                <input type="hidden" id="dtp_input1" value="" /><br/>


                                                                <label>Date</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                                    </span>
                                                                    <input type="text" class="datepicker form-control" th:field="*{activityDate}" data-date-format="mm/dd/yy" />
                                                                </div>
                                -->
                                <!--
                                <div class="input-group date form_date" data-date=""  data-date-format="mm/dd/yy">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    <input class="form-control" type="text" name="date" id="date" th:pattern="yyyy-mm-dd" th:value="*{date}"/>
                                </div>
                                <input class="form-control" type="text" th:pattern="yyyy-mm-dd" th:field="*{date}"/>
                                -->
                                <!--
                                data-link-field="date" data-link-format="yyyy-mm-dd">
                                th:attr="data-date=${activity.date}"
                                                                <input class="form-control" type="text" name="date" id="date" th:value="*{date}"/>
                                                                <input class="form-control" type="text" th:value="*{date}"/>
                                                                <input class="form-control" type="text" th:pattern="yyyy-mm-dd" th:field="*{date}"/>

                                                                <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                                                                    <input class="span2" size="16" type="text" value="12-02-2012" readonly>
                                                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                                                </div>
                                -->

                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-2">

                            <div class="form-group">
                                <label class="control-label">status</label>
                                <select class="form-control selectpicker" th:field="*{status}">
                                    <option th:each="type : *{activityStatusValues}"
                                            th:value="${type}"
                                            th:text="${type}"></option>
                                </select>
                            </div>
                        </div>


                    </div>
                </form>

                <div class="row" th:if="${activity==null}">

                    <div class="col-sm-6">
                        <div class="well bg-primary center">
                            <p>There is currently no activity information associated with this project.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function() {


			$.mask.definitions['~']='[+-]';
			$('.input-date').mask('99/99/9999');

	        $('.datepicker').datepicker();

			//Bootstrap Datetimepicker
			$('.form_date').datetimepicker({
				format: "dd/mm/yyyy",
				weekStart: 1,
				todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				minView: 2,
				forceParse: 0
			});

		});




    </script>

    <!-- END YOUR CONTENT HERE -->
</div>
</body>
</html>>