<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div id="footer" th:fragment="footer">

        <div class="footer">
            <div class="footer-inner">
                <!-- basics/footer -->
                <div class="footer-content">
                    &copy; 2015 <a href="#">yarrumsoftware</a>, All Rights Reserved.
                </div>
                <!-- /basics/footer -->
            </div>
        </div>
        <button type="button" id="back-to-top" class="btn btn-primary btn-sm back-to-top">
            <i class="fa fa-angle-double-up icon-only bigger-110"></i>
        </button>

    </div>
</body>
</html>