<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div id="resourceTable" th:fragment="resourceTable (resources, index, readonly)">


    <table class="table table-bordered table-striped table-hover tc-table footable" data-page-size="100"
           th:if="${resources!=null}">
        <thead>
        <tr>
            <th class="col-small left">actions</th>
            <th class="col-small left" data-toggle="true">First Name</th>
            <th class="col-small left" data-toggle="true">Last Name</th>
            <th class="col-small left" data-toggle="true">Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="resource : ${resources}">
            <td class="col-small left">
                <div class="action-buttons">
                    <form class="form" role="form" action="" th:action="@{/projectResourceDelete}" method="post">
                        <input type="hidden" name="projectResourceId" th:value="${resource.projectResourceId}"/>
                        <input type="hidden" name="index" th:value="${index}"/>
                        <button type="submit" class="btn  btn-inverse"><i class="fa fa-times icon-only"></i></button>
                    </form>
                </div>
            </td>
            <td class="col-small left"><a href=""
                                          th:href="@{resource(resourceId=${resource.resourceId},returnURL=${returnURL})}"
                                          th:text="${resource.firstName}"></a></td>
            <td class="col-small left"><a href=""
                                          th:href="@{resource(resourceId=${resource.resourceId},returnURL=${returnURL})}"
                                          th:text="${resource.lastName}"></a></td>
            <td class="col-small left" th:text="${resource.type}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="7">
                <ul class="hide-if-no-paging pagination pagination-centered pull-right"></ul>
                <div class="clearfix"></div>
            </td>
        </tr>
        </tfoot>
    </table>
    <div class="row" th:if="${resources==null}">

        <div class="col-sm-6">
            <div class="well bg-primary center">
                <p>There are currently no resources associated with the project.</p>
            </div>
        </div>

    </div>
</div>
</body>
</html>