<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="header" class="" th:fragment="header">

    <nav class="navbar-top" role="navigation">
        <!-- BEGIN BRAND HEADING -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".top-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-brand">
                <a href="dashboard">
                    <img src="assets/images/logo1.png" alt="logo" class="img-responsive"/>
                </a>
            </div>
        </div>
        <!-- END BRAND HEADING -->
        <div class="nav-top">
            <!-- BEGIN RIGHT SIDE DROPDOWN BUTTONS -->
            <ul class="nav navbar-right">
                <li class="dropdown">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </li>

                <!--Search Box-->
            </ul>
            <!-- END RIGHT SIDE DROPDOWN BUTTONS -->
            <!-- BEGIN TOP MENU -->
            <div class="collapse navbar-collapse top-collapse">
                <!-- .nav -->

            </div>
            <!-- END TOP MENU -->
        </div><!-- /.nav-top -->
    </nav><!-- /.navbar-top -->



</div>
</body>
</html>