<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:security="http://www.springframework.org/schema/security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="leftnav" th:fragment="leftnav">
    <!-- BEGIN SIDE NAVIGATION -->
    <nav class="navbar-side" role="navigation">
        <div class="navbar-collapse sidebar-collapse collapse">

            <!-- BEGIN FIND MENU ITEM INPUT -->
            <div class="media-search">
                <input type="text" class="input-menu" id="input-items" placeholder="Find..."/>
            </div>
            <!-- END FIND MENU ITEM INPUT -->

            <ul id="side" class="nav navbar-nav side-nav">
                <!-- BEGIN SIDE NAV MENU -->
                <!-- Navigation category -->
                <li>
                    <h4>Navigation</h4>
                </li>

                <li class="panel" th:class="${pageGroup}=='project'? 'panel open' : 'panel'">
                    <a href="projectSearch">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                <!--
                <li class="panel" th:class="${pageGroup}=='dashboard'? 'panel open' : 'panel'">
                    <a href="index">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </a>
                </li>
                -->
                <!--
                <li class="panel" th:class="${pageGroup}=='reports'? 'panel open' : 'panel'">
                    <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle"
                       data-target="#reports">
                        <i class="fa fa-print"></i> reports <span class="fa arrow"></span>
                    </a>
                    <ul class="collapse nav" id="reports">
                        <li>
                            <a class="" th:class="${pageId}=='qsTimeToFulfill'? 'active' : ''" href="qsTimeToFulfill">
                                <i class="fa fa-angle-double-right"></i>QS Time to Fulfill
                            </a>
                        </li>
                    </ul>
                </li>
-->
                <!-- BEGIN DROPDOWN -->
                <div security:authorize="hasRole('ROLE_ADMIN')">
                    <li class="panel" th:class="${pageGroup}=='importExport'? 'panel open' : 'panel'">
                        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle"
                           data-target="#import">
                            <i class="fa fa-cogs"></i> import/export <span class="fa arrow"></span>
                        </a>
                        <ul class="collapse nav" id="import">
                            <li>
                                <a class="" th:class="${pageId}=='uploadSalesOrder'? 'active' : ''"
                                   href="uploadSalesOrder">
                                    <i class="fa fa-angle-double-right"></i>sales order import
                                </a>
                            </li>
                            <li>
                                <a class="" th:class="${pageId}=='importMaster'? 'active' : ''" href="importMaster">
                                    <i class="fa fa-angle-double-right"></i>**master import***
                                </a>
                            </li>
                            <li>
                                <a class="" th:class="${pageId}=='exportSalesOrders'? 'active' : ''"
                                   href="exportSalesOrders">
                                    <i class="fa fa-angle-double-right"></i> export sales orders
                                </a>
                            </li>

                        </ul>
                    </li>
                </div>
                <!-- END DROPDOWN -->
            </ul>
            <!-- /.side-nav -->

        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <!-- /.navbar-side -->
    <!-- END SIDE NAVIGATION -->

</div>
</body>
</html>