<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="leftnav" th:fragment="leftnav">
    <!-- BEGIN SIDE NAVIGATION -->
    <nav class="navbar-side" role="navigation">
        <div class="navbar-collapse sidebar-collapse collapse">

            <!-- BEGIN FIND MENU ITEM INPUT -->
            <div class="media-search">
                <input type="text" class="input-menu" id="input-items" placeholder="Find..."/>
            </div>
            <!-- END FIND MENU ITEM INPUT -->

            <ul id="side" class="nav navbar-nav side-nav">
                <!-- BEGIN SIDE NAV MENU -->
                <!-- Navigation category -->
                <li>
                    <h4>Navigation</h4>
                </li>
                <li class="panel" th:class="${pageGroup}=='dashboard'? 'panel open' : 'panel'">
                    <a  href="index">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </a>
                </li>
                <!-- BEGIN DROPDOWN -->
                <li class="panel" th:class="${pageGroup}=='importExport'? 'panel open' : 'panel'">
                    <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle"
                       data-target="#import">
                        <i class="fa fa-cogs"></i> import/export <span class="fa arrow"></span>
                    </a>
                    <ul class="collapse nav" id="import">
                        <li>
                            <a class="" th:class="${pageId}=='uploadSalesOrder'? 'active' : ''" href="uploadSalesOrder">
                                <i class="fa fa-angle-double-right"></i>sales order import
                            </a>
                        </li>
                        <li>
                            <a class="" th:class="${pageId}=='importMaster'? 'active' : ''" href="importMaster">
                                <i class="fa fa-angle-double-right"></i>**master import***
                            </a>
                        </li>
                        <li>
                            <a class="" th:class="${pageId}=='exportSalesOrders'? 'active' : ''" href="exportSalesOrders">
                                <i class="fa fa-angle-double-right"></i> export sales orders
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="panel" th:class="${pageGroup}=='customer'? 'panel open' : 'panel'">
                    <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle"
                       data-target="#customer">
                        <i class="fa fa-cogs"></i> Customer <span class="fa arrow"></span>
                    </a>
                    <ul class="collapse nav" id="customer">
                        <li>
                            <a class="" th:class="${pageId}=='searchCustomer'? 'active' : ''" href="customerSearch">
                                <i class="fa fa-angle-double-right"></i> search
                            </a>
                        </li>
                        <li>
                            <a class="" th:class="${pageId}=='createCustomer'? 'active' : ''" href="customerNew">
                                <i class="fa fa-angle-double-right"></i> create
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="panel" th:class="${pageGroup}=='project'? 'panel open' : 'panel'">
                    <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle"
                       data-target="#project">
                        <i class="fa fa-cogs"></i> Project <span class="fa arrow"></span>
                    </a>
                    <ul class="collapse nav" id="project">
                        <li>
                            <a class="" th:class="${pageId}=='searchProject'? 'active' : ''" href="projectSearch">
                                <i class="fa fa-angle-double-right"></i> search
                            </a>
                        </li>
                        <li>
                            <a class="" th:class="${pageId}=='createProject'? 'active' : ''" href="projectNew">
                                <i class="fa fa-angle-double-right"></i> create
                            </a>
                        </li>

                    </ul>
                </li>
                <!-- END DROPDOWN -->
            </ul>
            <!-- /.side-nav -->

        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <!-- /.navbar-side -->
    <!-- END SIDE NAVIGATION -->

</div>
</body>
</html>