<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div id="pageNotImplemented" th:fragment="pageNotImplemented">

        <div class="portlet">
            <div class="portlet-heading default-bg">
                <div class="portlet-title">
                    <h4>Page has not been implemented yet</h4>
                </div>
                <div class="portlet-widgets">
                    <a data-toggle="collapse" data-parent="#accordion" href="#f-3"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="f-3" class="panel-collapse collapse in">
                <div class="portlet-body">



                </div>
            </div>
        </div>
    </div>
</body>
</html>