<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="projectSearchFilter" th:fragment="projectSearchFilter">

    <div class="portlet">
        <div class="portlet-heading default-bg">
            <div class="portlet-title">
                <h4>Project Search</h4>
            </div>
            <div class="portlet-widgets">
                <a data-toggle="collapse" data-parent="#accordion" href="#f-3"><i class="fa fa-chevron-down"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="f-3" class="panel-collapse collapse in">
            <div class="portlet-body">
                <div class="row bg-light ">

                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label class="control-label">search by customer name</label>

                            <form role="form" action="#" th:action="@{/projectSearch}" th:object="${projectsearch}"
                                  method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control" th:field="*{customerName}"
                                           placeholder="enter the customer name"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search icon-only"></i>

                                    </button>
                                     <button class="btn btn-danger" type="reset">
                                         <i class="fa fa-times icon-only"></i>
                                     </button>
                                </span>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">search by sales order number</label>

                            <form role="form" action="#" th:action="@{/projectSearch}" th:object="${projectsearch}"
                                  method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control search-query" th:field="*{salesOrderNumber}"
                                           placeholder="enter the sales order number"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search icon-only"></i>
                                    </button>
                                     <button class="btn btn-danger" type="reset">
                                         <i class="fa fa-times icon-only"></i>
                                     </button>
                                </span>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">search by status</label>

                            <form role="form" action="#" th:action="@{/projectSearch}" th:object="${projectsearch}"
                                  method="post">
                                <div class="input-group">
                                    <select class="form-control selectpicker" th:field="*{status}">
                                        <option th:each="type : *{statusValues}"
                                                th:value="${type}"
                                                th:text="${type}"></option>
                                    </select>

                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search icon-only"></i>
                                    </button>
                                     <button class="btn btn-danger" type="reset">
                                         <i class="fa fa-times icon-only"></i>
                                     </button>
                                </span>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
<!--
                <hr class="hr-5"/>

                <div class="row bg-light">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">search by batch number</label>

                            <form role="form" action="#" th:action="@{/projectSearch}" th:object="${projectsearch}"
                                  method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control" th:field="*{importControlId}"
                                           placeholder="enter the batch id"/>

                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search icon-only"></i>
                                    </button>
                                </span>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

-->
            </div>

        </div>
    </div>
</div>
</body>
</html>