<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div id="uploadForm" th:fragment="uploadForm (actionVar)">

    <div class="portlet-body">

        <form enctype="multipart/form-data" action="#" th:action="${actionVar}" th:object="${uploadSalesOrder}" role="form" method="post">
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group">
                        <label class="control-label">model groups</label>
                        <input type="text" class="form-control" th:value="${uploadSalesOrder.modelgroups}"
                               readonly="readonly"/>

                    </div>
                </div>
            </div>

            <div class="row bg-light">
                <div class="col-md-7">
                    <div class="well white">
                        <dl class="no-margin-bottom">
                            <dt>Select an Oracle OBI file upload and import.</dt>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="row bg-light">
                <div class="col-md-3">
                    <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-file">
                                    Browse <input type="file" name="file"/>
                                </span>
                            </span>
                        <input type="text" class="form-control" readonly="readonly"/>


                    </div>
                    <div  class="has-error" th:errors="all"></div>
                </div>
            </div>
            <div class="row bg-light">
                <div class="col-md-3">

                    <div class="form-actions">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">import</button>
                                <button type="reset" class="btn">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <script type="text/javascript">


		// Custome File Input
		$(document).on('change', '.btn-file :file', function() {
			var input = $(this),
			numFiles = input.get(0).files ? input.get(0).files.length : 1,
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
			input.trigger('fileselect', [numFiles, label]);
		});

		$(document).ready( function() {
			$('.btn-file :file').on('fileselect', function(event, numFiles, label) {

				var input = $(this).parents('.input-group').find(':text'),
				log = numFiles > 1 ? numFiles + ' files selected' : label;

				if( input.length ) {
					input.val(log);
				} else {
					if( log ) alert(log);
				}

			});
		});









    </script>

</div>
</body>
</html>
