<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div id="uploadForm" th:fragment="uploadForm (actionVar)">

    <div class="portlet-body">

        <form class="form-horizontal" enctype="multipart/form-data" action="#" th:action="${actionVar}" role="form" method="post">

            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-file">
                        Browse <input type="file" name="file" />
                    </span>
                </span>

                <div class="col-sm-3">
                    <input type="text" class="form-control" readonly="readonly"/>
                </div>
            </div>
            <div class="form-actions">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">upload</button>
                        <button type="reset" class="btn">Clear</button>
                    </div>
                </div>
            </div>
        </form>

        <script>

            $(document).on('change', '.btn-file :file', function() {
            alert("hello");
                var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

        </script>
    </div>
</div>
</body>
</html>
