<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="textColumn" th:fragment="textColumn (label,fieldName,placeHolderreadonly)">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" th:text="${label}">label</label>
            <input type="text" class="form-control" th:field="*{fieldName}"
                   th:placeholder="${placeHolder}" th:if="${readonly=='true'}" readonly="readonly"/>

            <!--<div class="has-error" th:if="${#fields.hasErrors('name')}" th:errors="*{fieldName}">error</div>-->
        </div>

    </div>
</div>
</body>
</html>>