<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>engagement portal login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="assets/css/fonts.css"/>
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css"/>


    <link id="eportstyle" rel="stylesheet" href="assets/css/eportal.css"/>

</head>

<body>

<section class="loginform cf">
    <div class="title">Engagement Portal Login</div>
    <p>

    <div class="error" th:if="${param.error}">
        Invalid username and/or password.
    </div>
    <div class="error" th:if="${param.logout}">
        You have been logged out.
    </div>
    </p>
    <form th:action="@{/login}" role="form" method="post" accept-charset="utf-8">
        <ul>
            <li>
                <label for="username">username</label>
                <input type="text" name="username" placeholder="enter your username" required="required"/>
            </li>
            <li>
                <label for="password">password</label>
                <input type="password" name="password" placeholder="enter your password" required="required"/></li>
            <li>
                <input type="submit" value="Login"/>
            </li>
        </ul>

    </form>
</section>

</body>
</html>