<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/portalpage">
<head>
    <meta charset="utf-8"/>
    <title>Add Customer</title>
</head>
<body>

<div layout:fragment="content">

    <!-- START YOUR CONTENT HERE -->

    <div class="portlet">
        <div class="portlet-heading default-bg">
            <div class="portlet-title">
                <h4>Project Information</h4>
            </div>
            <div class="portlet-widgets">
                <a data-toggle="collapse" data-parent="#accordion" href="#prijectinfo"><i class="fa fa-chevron-down"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="projectinfo" class="panel-collapse collapse in">
            <div class="portlet-body">
                <form class="form-horizontal" role="form" action="#" th:action="@{/pojectnew}" th:object="${project}"
                      method="post">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Project Id</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{projectId}"
                                   placeholder="enter the project Id" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Customer Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{customer.name}"
                                   placeholder="enter the customer name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Class Reg Sent</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{classRegSent}"
                                   placeholder="enter the class reg sent"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">reported Rev Rec</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{reportedRevRec}"
                                   placeholder="enter the reported Rev Rec"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">sales Order Number</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{salesOrderNumber}"
                                   placeholder="enter the sales order number"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">status</label>
                        <div class="col-sm-3">
                            <select class="form-control selectpicker" th:field="*{status}">
                                <option th:each="type : *{statusValues}"
                                        th:value="${type}"
                                        th:text="${type}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">book date</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                                <input class="datepicker form-control" value="" th:field="*{bookDate}" data-date-format="mm/dd/yy" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">ship date</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                                <input class="datepicker form-control" value="" th:field="*{shipDate}" data-date-format="mm/dd/yy" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">planning meeting date</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                                <input class="datepicker form-control" value="" th:field="*{planningMeetingDate}" data-date-format="mm/dd/yy" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">kickoff meeting date</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                                <input class="datepicker form-control" value="" th:field="*{kickoffMeetingDate}" data-date-format="mm/dd/yy" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">onsite start date</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                                <input class="datepicker form-control" value="" th:field="*{onSiteStartDate}" data-date-format="mm/dd/yy" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">onsite end date</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                                <input class="datepicker form-control" value="" th:field="*{onSiteEndDate}" data-date-format="mm/dd/yy" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">release for revenue rec date</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                                <input class="datepicker form-control" value="" th:field="*{releaseForRevenueRecDate}" data-date-format="mm/dd/yy" />
                            </div>
                        </div>
                    </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">wait time</label>
                            <div class="col-sm-3">
                                <select class="form-control selectpicker" th:field="*{waitTime}">

                                    <option th:each="type : *{waitTimeValues}"
                                            th:value="${type}"
                                            th:text="${type}"></option>
                                </select>
                            </div>
                        </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">booked to kickoff</label>
                        <div class="col-sm-10">
                            <div id="MySpinner-1" class="spinner">
                                <div class="input-group input-small">
                                    <input th:field="*{bookedToKickOff}" class="spinner-input form-control"/>
                                    <div class="spinner-buttons input-group-btn btn-group-vertical">
                                        <button type="button" class="btn spinner-up btn-xs">
                                            <i class="fa fa-chevron-up icon-only"></i>
                                        </button>
                                        <button type="button" class="btn spinner-down btn-xs">
                                            <i class="fa fa-chevron-down icon-only"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">days to close</label>
                        <div class="col-sm-10">
                            <div id="MySpinner-2" class="spinner">
                                <div class="input-group input-small">
                                    <input th:field="*{daysToClose}" class="spinner-input form-control"/>
                                    <div class="spinner-buttons input-group-btn btn-group-vertical">
                                        <button type="button" class="btn spinner-up btn-xs">
                                            <i class="fa fa-chevron-up icon-only"></i>
                                        </button>
                                        <button type="button" class="btn spinner-down btn-xs">
                                            <i class="fa fa-chevron-down icon-only"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">amount</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                <input type="text" class="form-control" th:field="*{amount}"
                                       placeholder="enter the amount"/>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Textarea</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="maxL-3" maxlength="225" rows="2" placeholder="This textarea has a limit of 225 chars."></textarea>
														<span class="help-block">
															Bootstrap maxlength supports textarea as well as inputs. Even on old IE.
														</span>
                        </div>
                    </div>
<!--

                                        private String notes;
                                        private String location;
                                        private String region;
                                        private String modelGroup;
                                        private String service;
                                        private String accountTeam;
                                        private String remote;
                                        private String onsite;
                                        private String equipmentList;
                                        private String shawdow;

                    -->

                    <div class="form-actions">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="reset" class="btn">Clear</button>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>


    <!-- END YOUR CONTENT HERE -->
</div>
</body>
</html>>