<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/portalpage">
<head>
    <meta charset="utf-8"/>
    <title>Project</title>
</head>
<body>

<div layout:fragment="content">

    <div th:if="${nav!=null}">

        <a href="" th:href="${nav.returnURL}"
           class=" btn btn-primary" data-placement="right" data-rel="tooltip" title="Return to previous screen"><i
                class="fa fa-arrow-left"></i></a>


    </div>
    <div th:if="${project!=null}">

        <div th:replace="fragments/project/projectInfo :: projectInfo(project=${project}, readonly=${project.readonly})"/>

        <div th:replace="fragments/project/projectCredits :: projectCredits(project=${project}, readonly=${project.readonly})"/>

        <div th:replace="fragments/salesorder/salesOrderTable :: salesOrderTable(salesOrders=${project.salesOrders}, readonly=${project.readonly})"/>

        <div th:replace="fragments/activity/activityTable :: activityTable(activities=${project.activities}, readonly=${project.readonly})"/>

        <div th:replace="fragments/note/noteTable :: noteTable(actionVar=@{/projectNote},id=${project.projectId},notes=${project.notes},pageHeading='Notes', index='1', readonly=${project.readonly})"/>


        <div class="portlet">
            <div class="portlet-heading default-bg">
                <div class="portlet-title">
                    <h4>Remote Resources</h4>
                </div>
                <div class="portlet-widgets">
                    <a data-toggle="collapse" data-parent="#accordion" href="" th:href="resourceRemote"><i
                            class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div id="remoteResourceForm" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div class="row">
                        <div th:replace="fragments/resource/addResource :: addResource(addableResources=${project.remoteAddableResources}, index='remoteResourceForm', projectId=${project.projectId}, role='remote', readonly='true')"/>
                        <div class="space-4"></div>
                    </div>
                    <div class="row">
                        <div th:replace="fragments/resource/resourceTable :: resourceTable(resources=${project.remoteResources}, index='remoteResourceForm', readonly='true')"/>
                    </div>

                </div>
            </div>
        </div>


        <div class="portlet">
            <div class="portlet-heading default-bg">
                <div class="portlet-title">
                    <h4>Onsite Resources</h4>
                </div>
                <div class="portlet-widgets">
                    <a data-toggle="collapse" data-parent="#accordion" href="" th:href="resourceOnsite"><i
                            class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div id="resourceOnsite" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div class="row">
                        <div th:replace="fragments/resource/addResource :: addResource(addableResources=${project.onsiteAddableResources}, index='resourceOnsite', projectId=${project.projectId}, role='onsite', readonly='true')"/>
                        <div class="space-4"></div>
                    </div>
                    <div class="row">
                        <div th:replace="fragments/resource/resourceTable :: resourceTable(resources=${project.onsiteResources}, index='resourceOnsite', readonly='true')"/>
                    </div>
                </div>
            </div>
        </div>


        <div class="portlet">
            <div class="portlet-heading default-bg">
                <div class="portlet-title">
                    <h4>Account Resources</h4>
                </div>
                <div class="portlet-widgets">
                    <a data-toggle="collapse" data-parent="#accordion" href="" th:href="resourceAccount"><i
                            class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="resourceAccount" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div class="row">
                        <div th:replace="fragments/resource/addResource :: addResource(addableResources=${project.accountAddableResources}, index='resourceAccount', projectId=${project.projectId}, role='account team',readonly='true')"/>
                        <div class="space-4"></div>
                    </div>
                    <div class="row">
                        <div th:replace="fragments/resource/resourceTable :: resourceTable(resources=${project.accountResources}, index='resourceAccount', readonly='true')"/>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <div class="row" th:if="${project==null}">

        <div class="col-sm-6">
            <h5 class="text-uppercase heading"><strong>Project not Found </strong></h5>

            <div class="well bg-primary center">
                <p>Please return to the search screen and try again</p>
            </div>
        </div>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var anchor = /*[[${anchor}]]*/;



        function doAnchor(){
        try{
            if(anchor){
            //alert(anchor);
                window.scroll(0, anchor);
                var anchor_node = document.getElementById(anchor);
                window.scrollTo(0, anchor_node.offsetTop);
                anchor=null;

                //$('html, body').animate({
                 //   scrollTop: 100

               // }, 1000);

            }
            }catch(error){
                //alert(error);
            }
        }
   /*]]>*/
    </script>

    <script type="text/javascript">
  /*<![CDATA[*/
        $(document).ready(function() {
            // set select 175 widths
            $(".dd175").select2({
				width: 175
			});

			//$.mask.definitions["~"]="[+-]";
			//$(".input-credits").mask("9999999");

            doAnchor();




            $(".input-credits").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                 // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                 // Allow: Ctrl+C
                (e.keyCode == 67 && e.ctrlKey === true) ||
                 // Allow: Ctrl+X
                (e.keyCode == 88 && e.ctrlKey === true) ||
                 // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                     // let it happen, don't do anything
                     return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

    });
  /*]]>*/
    </script>
</div>
</body>
</html>