<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/portalpage">
<head>
    <meta charset="utf-8"/>
    <title>Project</title>
</head>
<body>

<div layout:fragment="content">


    <div th:replace="fragments/project/projectInfo :: projectInfo"/>

    <div th:replace="fragments/salesorder/salesOrderTable :: salesOrderTable(salesOrders=${project.salesOrders})"/>

    <div th:replace="fragments/project/activityTable :: activityTable(activities=${project.activities})"/>

    <div th:replace="fragments/note/noteTable :: noteTable(notes=${project.notes},pageHeading='Notes', index='1')"/>

    <div th:replace="fragments/resource/resourceTable :: resourceTable(resources=${project.remoteResources},pageHeading='Remote Resources', index='1')"/>
    <div th:replace="fragments/resource/resourceTable :: resourceTable(resources=${project.onsiteResources},pageHeading='Onsite Resources', index='2')"/>
    <div th:replace="fragments/resource/resourceTable :: resourceTable(resources=${project.accountResources},pageHeading='Account Team', index='3')"/>
</div>
</body>
</html>>