<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/portalpage">
<head>
    <meta charset="utf-8"/>
    <title>Resource</title>
</head>
<body>

<div layout:fragment="content">
    <div th:if="${nav!=null}">

        <a href="" th:href="${nav.returnURL}"
           class=" btn btn-primary"><i
                class="fa fa-arrow-left"></i></a>


    </div>

    <div th:if="${resource!=null}">

        <div th:replace="fragments/resource/resourceInfo :: resourceInfo (resource=${resource}, readonly='false' )"/>

    </div>
    <div class="row" th:if="${resource==null}">

        <div class="col-sm-6">
            <h5 class="text-uppercase heading"><strong>resource not Found </strong></h5>

            <div class="well bg-primary center">
                <p>Please return to the search screen and try again</p>
            </div>
        </div>

    </div>
</div>
</body>
</html>>