<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/portalpage">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Resource Search</title>
</head>

<body>
<div layout:fragment="content">
    <div class="portlet">
        <div class="portlet-heading default-bg">
            <div class="portlet-title">
                <h4>Resources</h4>
            </div>
            <div class="portlet-widgets">
                <a data-toggle="collapse" data-parent="#accordion" href="#projectSearchResultsPanel"><i
                        class="fa fa-chevron-down"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="projectSearchResultsPanel" class="panel-collapse collapse in">
            <div class="portlet-body">
                <div class="well white">


                    <div class="row bg-light ">

                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label class="control-label">First Name</label>

                                <div class="input-group">
                                    <p id="firstNameFilter"></p>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label class="control-label">Last Name</label>

                                <div class="input-group">
                                    <p id="lastNameFilter"></p>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label class="control-label">Type</label>

                                <div class="input-group">
                                    <p id="typeFilter"></p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="space-4"></div>
                <div class="well white">
                    <div th:replace="fragments/common/linkButton :: linkButton(label='Create New Resource',targetURL='resourceNew',returnURL='resourceSearch')"/>
                </div>
                <div class="space-4"></div>
                <div th:replace="fragments/resource/resourceTable :: resourceTable(resources=${resources})"/>
            </div>
        </div>
    </div>

</div>

</body>


</html>