<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/portalpage">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>User Search</title>
</head>

<body>
<div layout:fragment="content">

<!--   <div th:replace="fragments/usermanagement/searchFilter :: searchFilter"/>-->
    <div th:replace="fragments/usermanagement/searchResults :: searchResults (users=${users}, readonly='true' )"/>


</div>

</body>



</html>