<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div id="salesOrderTable" th:fragment="salesOrderTable (salesOrders, readonly)">
    <div class="portlet">
        <div class="portlet-heading default-bg">
            <div class="portlet-title">
                <h4>Sales Order</h4>
            </div>
            <div class="portlet-widgets">
                <a data-toggle="collapse" data-parent="#accordion" href="#salesordertableform"><i
                        class="fa fa-chevron-down"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="salesordertableform" class="panel-collapse collapse in">
            <div class="portlet-body">

                <table class="table table-bordered table-striped table-hover tc-table footable" data-page-size="100"
                       th:if="${salesOrders!=null}">
                    <thead>
                    <tr>
                        <th class="col-small left" data-sort-ignore="true" th:if="${readonly!='true'}">actions</th>

                        <th class="col-small left" data-sort-ignore="true">Name</th>
                        <th class="col-small left" data-sort-ignore="true">SO Number</th>
                        <th class="col-small left" data-sort-ignore="true">Amount</th>
                        <th class="col-small left" data-sort-ignore="true">Region</th>
                        <th class="col-small left" data-sort-ignore="true">Model Group</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="salesOrder : ${salesOrders}">

                        <td th:if="${readonly!='true'}" class="col-small left">
                            <div class="btn-group btn-group-sm ">
                                <a href="" th:href="@{salesOrder(salesOrderId=${salesOrderId},returnURL=${returnURL})}"
                                   class="btn btn-inverse" data-placement="left" data-rel="tooltip" title="Edit" th:if="${readonly!='true'}">
                                    <i class="fa fa-pencil icon-only"></i></a>


                            </div>
                        </td>

                        <td class="col-small left"><a href="" th:href="@{customer(customerId=${salesOrder.customerId},returnURL=${returnURL})}"
                                                      data-placement="left" data-rel="tooltip" title="view"
                                                      th:text="${salesOrder.stCustomerName}"></a></td>

                        <td class="col-small left"><a href="" th:href="@{salesorder(salesorderId=${salesOrder.salesOrderId},returnURL=${returnURL})}"
                                                      data-placement="left" data-rel="tooltip" title="view"
                                                      th:text="${salesOrder.salesOrderNumber}"></a></td>
                        <td class="col-small left" th:text="${salesOrder.amount}"></td>
                        <td class="col-small left" th:text="${salesOrder.region}"></td>
                        <td class="col-small left" th:text="${salesOrder.modelGroup}"></td>

                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <ul class="hide-if-no-paging pagination pagination-centered pull-right"></ul>
                            <div class="clearfix"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
                <div class="row" th:if="${salesOrders==null}">

                    <div class="col-sm-6">
                        <div class="well bg-primary center">
                            <p>There are currently no sales orders associated with the project.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>