<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="projectInfo" th:fragment="projectInfo (project,readonly)">

    <div class="portlet">
        <div class="portlet-heading default-bg">
            <div class="portlet-title">
                <h4>Project Information</h4>
            </div>
            <div class="portlet-widgets">
                <a data-toggle="collapse" data-parent="#accordion" href="#projectinfopanel"><i
                        class="fa fa-chevron-down"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="projectinfopanel" class="panel-collapse collapse in">
            <div class="portlet-body">
                <form class="form" role="form" action="#" th:action="@{/projectInfo}" th:object="${project}"
                      method="post" th:if="${project!=null}">
                    <div th:replace="fragments/common/formButtons :: formButtons (readonly=${project.readonly} )"/>

                    <div class="row">
                        <div class="col-md-4">
                            <!--

                            <a href=""
                                   th:href="@{customer(customerId=${project.customerId},returnURL=${returnURL})}"
                                   data-placement="left" data-rel="tooltip" title="view"
                                   th:text="*{name}"></a>

                                <input type="hidden" th:field="*{name}"/>


                            -->
                            <div class="form-group">
                                <label class="control-label">Customer Name</label>
                                <input type="text" class="form-control" th:field="*{name}"
                                       placeholder="enter the project name" readonly="readonly"/>

                                <div class="has-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">project
                                    name error
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Status</label>

                                <select class="form-control selectpicker" th:field="*{status}"
                                        th:disabled="${readonly}">
                                    <option th:each="type : *{statusValues}"
                                            th:value="${type}"
                                            th:text="${type}"></option>
                                </select>

                            </div>

                        </div>
                        <div class="col-md-2 ">
                            <div class="form-group">
                                <label class="control-label">Health</label>

                                <select class="form-control selectpicker" th:field="*{healthStatus}"
                                        th:disabled="${readonly}">
                                    <option th:each="type : *{healthStatusValues}"
                                            th:value="${type}"
                                            th:text="${type}"></option>
                                </select>

                            </div>

                        </div>



                    </div>


                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Location</label>
                                <input type="text" class="form-control" th:field="*{location}"
                                       placeholder="enter the project location" th:disabled="${readonly}"/>

                                <div class="has-error" th:if="${#fields.hasErrors('name')}" th:errors="*{location}">
                                    location error
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Wait Time</label>

                                <select class="form-control selectpicker" th:field="*{waitTime}"
                                        th:disabled="${readonly}">

                                    <option th:each="type : *{waitTimeValues}"
                                            th:value="${type}"
                                            th:text="${type}"></option>
                                </select>

                            </div>

                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">booked to kickoff</label>
                                <input th:field="*{bookedToKickOff}" class="form-control" readonly="readonly"/>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Service</label>
                                <input type="text" class="form-control" th:field="*{service}"
                                       placeholder="enter the service" th:disabled="${readonly}"/>

                                <div class="has-error" th:if="${#fields.hasErrors('service')}" th:errors="*{service}">
                                    service error
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">days to close</label>
                                <input th:field="*{daysToClose}" class="form-control" readonly="readonly"/>

                            </div>

                        </div>


                    </div>


                </form>

                <div class="row" th:if="${project==null}">

                    <div class="col-sm-6">
                        <div class="well bg-primary center">
                            <p>There is currently no project information associated with this project.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- END YOUR CONTENT HERE -->
</div>
</body>
</html>>