<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="searchResults" th:fragment="searchResults  (projects, readonly)">

    <div class="portlet">
        <div class="portlet-heading default-bg">
            <div class="portlet-title">
                <h4>projects</h4>
            </div>
            <div class="portlet-widgets">
                <a data-toggle="collapse" data-parent="#accordion" href="#projectSearchResultsPanel"><i
                        class="fa fa-chevron-down"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="projectSearchResultsPanel" class="panel-collapse collapse in">
            <div class="portlet-body">

                <table class="table table-bordered table-striped table-hover tc-table footable no-padding" data-page-size="100"
                       th:if="${projects!=null}">
                    <thead>
                    <tr>
                        <th class="col-small left" th:if="${readonly!='true'}" data-toggle="phone,tablet" data-sort-ignore="true">action</th>
                        <th class="col-small left" data-toggle="phone,tablet">Project ID</th>
                        <th class="col-small left" data-toggle="phone,tablet">Customer</th>
                        <th class="col-small left" data-toggle="phone, tablet">Sales Order</th>
                        <th class="col-small left" data-toggle="phone,tablet">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="project : ${projects}" th:if="${projects != null}">
                        <td class="col-small left" th:if="${readonly!='true'}">
                            <div class="btn-group btn-group-xs ">
                          <!--      <a href="" th:href="'project?projectId='+${project.projectId}"
                                   class="btn btn-success" data-placement="left" data-rel="tooltip" title="view">
                                    <i class="fa fa-binoculars icon-only"></i></a>

                              -->
                                <div th:if="${readonly!='true'}">
                                    <a href="" th:href="'project?projectId='+${project.projectId}"
                                       class="btn btn-inverse" data-placement="left" data-rel="tooltip" title="edit"><i
                                            class="fa fa-pencil icon-only"></i></a>
                                </div>
                                <div th:if="${readonly!='true'}">
                                    <a href="" th:href="'project?projectId='+${project.projectId}"
                                       class="btn btn-danger" data-placement="left" data-rel="tooltip"
                                       title="delete"><i
                                            class="fa fa-times icon-only"></i></a>
                                </div>
                            </div>

                        </td>
                        <td class="col-small left"><a href="" th:href="'project?projectId='+${project.projectId}" data-placement="left" data-rel="tooltip" title="view" th:text="${project.projectId}"></a></td>
                        <td class="col-small left" th:text="${project.customerName}"></td>
                        <td class="col-small left" th:text="${project.salesOrderNumber}"></td>

                        <td class="col-small center"><span class="label" th:classappend="'label-' + ${project.statusDisplayClass}"
                                  th:text="${project.status}"></span></td>

                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <ul class="hide-if-no-paging pagination pagination-centered pull-right"></ul>
                            <div class="clearfix"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>

                <div class="row" th:if="${projects==null}">

                    <div class="col-sm-6">
                        <h5 class="text-uppercase heading"><strong>No Projects Found </strong></h5>

                        <div class="well bg-primary center">
                            <p>Please modify your search parameters</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
